.my-custom-class{
  padding: 20px;
  margin: 30px;
}
.slick-arrow.slick-prev::before{
  background-color: red;
}
/* .Home{
  background-color: red;
} */
.customClass{
font-family: 'Graphik', sans-serif;
}